.laBox {
  width: 370px;
  color: black;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  height: 220px;
  padding: 0px;
  margin: 5px 5px 35px 5px;
  box-shadow: 2px 2px 2px 2px#888888;
  float: left;
  background-size: 100% 100%;
}

.laHeader {
  height: 35px;
  background-color: none;
  color: white;
  margin: 0px 0px;
}

.laFooter {
  height: 35px;
  background-color: white;
  margin-top: 130px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

&.active {
  background: #c94e50;
  color: #fffce1;
}
